@model Final_Bootstrap.Models.Teacher

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Student</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="~/Content/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/layout.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/Stars.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/ListMenu.css" type="text/css" media="all">


    <style>
        #t1 , #t2 , #t3 {
            width : 300px;
        }
        .labelsid{
            vertical-align:central;
            margin-top:8px;
            width : 150px;
        }
    </style>

</head>


<body id="page1">

    <div class="body1">
        <div class="body2">
            <div class="body3">
                <div class="main">
                    <!-- header -->
                    <header>
                        <div class="wrapper">
                            <h1><a href="/Home/Index" id="logo"></a></h1>
                            <form id="search" method="post">
                                <div>
                                    <input type="submit" class="submit" value="">
                                    <input class="input" type="text" value="Site Search" onblur="if(this.value=='') this.value='Site Search'" onfocus="if(this.value =='Site Search' ) this.value=''">
                                </div>
                            </form>
                            <nav>
                                <br />
                                <ul id="menu">
                                    <li class="active"><a href="/Administrator/Index">Home</a></li>
                                    <li><a href="/Administrator/Profile">Profile</a></li>
                                    <li><a href="/Administrator/FeedBack">Feedback</a></li>
                                    <li class="end"><a href="/Administrator/Logout">Logout</a></li>
                            </ul>
                            </nav>
                        </div>
                    </header>
                </div>
            </div>
        </div>
    </div>

    <div class="body1">
        <div class="main">
            <section id="content">
                <form method="post" action="UpdateProfile">
                    <table>
                    <tr>
                        <td>@Html.Label("Id")</td>
                        <td><Label class="PAtt">@Model.Id</Label></td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Name")</td>
                        <td><label class="PAtt">@Model.Name</label></td>
                    </tr>
                    <tr>
                        <td>@Html.Label("User")</td>
                        <td><label class="PAtt">@Model.User</label></td>
                    </tr>
                        <tr>
                        <td>@Html.Label("Email")</td>
                        <td><label class="PAtt">@Model.Email</label></td>
                    </tr>
                    <tr>
                        <td colspan="3"><img src="@Model.Image" alt="Logo"/></td>
                    </tr>
                    <tr>
                        <td><input type="file" value="Upload Image"/></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Update"/></td>
                    </tr>
                </table>
                </form>
                <br />
            </section>
        </div>
    </div>
    <div class="body4">
        <div class="main">
            <section id="content2">
                <div class="line2 wrapper">
                    <div class="wrapper">
                        <article class="col1">
                            <h2>Intro and Purpose</h2>
                            <div class="wrapper">
                                <figure class="left marg_right1">
                                    <img src="~/Images/page1_img2.jpg" alt="">
                                </figure>
                                <p>
                                    It is a Portal developed for daily student attendance in Educational institutes.
                                    The information is sorted by the operators, which will be provided by the teacher for a particular class.
                                    This system will also help in evaluating attendance eligibility criteria of a student.
                                </p>
                            </div>
                            <div class="pad">
                                <p>
                                    The purpose of developing attendance management system is to computerized the tradition way of taking attendance.
                                    Another purpose for developing this portal is to generate the report automatically at the end of the session or in the between of the session
                                </p>
                            </div>
                        </article>
                        <article class="col3 pad_left1">
                            <h2>Coming Soon</h2>
                            <div class="pad">
                                <div class="wrapper">
                                    <span class="date"><span>12</span>jun</span>
                                    <p>
                                        <a href="#" class="link1">Sed ut perspiciatis</a><br>
                                    </p>
                                </div>
                                <div class="wrapper">
                                    <span class="date"><span>23</span>jun</span>
                                    <p>
                                        <a href="#" class="link1">Doperiam eaque ipsa </a>
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="wrapper buttons">
                        <article class="col1">
                            <a href="/Home/DownloadFile2" class="button">Read More</a>
                        </article>
                        <article class="col3 pad_left1">
                            <a href="#" class="button">Read More</a>
                        </article>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- / content -->


</body>
</html>

